---
import Layout from "@/layouts/layout.astro";
---

<Layout containerClass="md:my-36">
  <title slot="head">404 - Anna Hoffmeister</title>

  <div>
    <h1 class="mb-8 text-6xl">Oops!</h1>
    <p class="mb-2">
      Seite konnte leider nicht gefunden werden.
      <a href="/" class="underline">Zurück zur Startseite</a>.
    </p>
  </div>
</Layout>
