---
import Layout from "@/layouts/layout.astro";
---

<Layout containerClass="md:my-36">
  <title slot="head">500 - Anna Hoffmeister</title>

  <div>
    <h1 class="mb-8 text-6xl">Oops!</h1>
    <p class="mb-2">
      Irgendwas hat nicht geklappt, bitte versuche es später erneut.
    </p>
  </div>
</Layout>
