---
import { getAllModerationWorkSamples, getHomePageEntry } from "@/lib/contentful/utils";
import Button from "@/components/Button.astro";
import ModerationWorkSamplesItem from "@/components/ModerationWorkSamplesItem.astro";

export const prerender = false;
export const partial = true;

const {
  moderationWorkSamplesTitle,
  moderationWorkSamplesLoadMoreText,
} = await getHomePageEntry();

const requestUrl = new URL(Astro.request.url);

const pageSizeFromUrl = requestUrl.searchParams.get("pageSize");

const pageSize = pageSizeFromUrl ? parseInt(pageSizeFromUrl, 10) : 3;

const moderationWorkSamples = await Astro.callAction(
  getAllModerationWorkSamples,
  undefined,
);

const itemsToDisplay = moderationWorkSamples.slice(0, pageSize);

const isMoreDataAvailable = itemsToDisplay.length >= pageSize;

const hxValues = `{"pageSize": "${pageSize * 2}"}`;
---

<div class="flex flex-col gap-8">
  <h2 class="text-xl font-bold">{moderationWorkSamplesTitle}</h2>

  <div class="hs-accordion-group flex flex-col gap-4">
    {
      itemsToDisplay.map(({ fields }) => (
        <ModerationWorkSamplesItem {...fields} />
      ))
    }
  </div>

  {
    isMoreDataAvailable && (
      <div class="text-end">
        <Button
          hx-get="/partials/moderation-work-samples"
          hx-vals={hxValues}
          hx-trigger="click"
          hx-target="#moderation-posts-container"
          hx-swap="innerHTML"
        >
          {moderationWorkSamplesLoadMoreText}
        </Button>
      </div>
    )
  }
</div>

<script>
  import HSAccordion from "@preline/accordion";

  HSAccordion.autoInit();
</script>
