---
import { getClientsByTypeOfWork } from "@/lib/contentful/utils";

type Props = {
  title: string;
  typeOfWork: "journalism" | "moderation";
};

const { title, typeOfWork } = Astro.props;

const clients = await getClientsByTypeOfWork(typeOfWork);
---

<div class="flex flex-col gap-8">
  <h3 class="text-xl font-bold">{title}</h3>
  <div
    class="max-md:mx-break-out flex gap-4 overflow-hidden select-none"
    title={clients.map((client) => client.fields.title).join(", ")}
  >
    {
      Array(2)
        .fill(0)
        .map(() => (
          <div class="animate-marquee flex min-w-full shrink-0 justify-around gap-4">
            {clients.map((client) => (
              <span class="bg-black px-12 py-6 text-nowrap text-white">
                {client.fields.title}
              </span>
            ))}
          </div>
        ))
    }
  </div>
</div>
