---
import { getAllModerationWorkSamples } from "@/lib/contentful/utils";
import Button from "./Button.astro";
import ModerationWorkSamplesItem from "./ModerationWorkSamplesItem.astro";

const moderationWorkSamples = await Astro.callAction(
  getAllModerationWorkSamples,
  undefined,
);

type Props = {
  title: string;
  loadMoreText: string;
};

const { title, loadMoreText } = Astro.props;
---

<div id="moderation-posts-container" {...{ 'hx-on::before-swap': 'destroyAccordions()' }}>
  <div class="flex flex-col gap-8">
    <h2 class="text-xl font-bold">{title}</h2>

    <div class="hs-accordion-group flex flex-col gap-4">
      {
        moderationWorkSamples.slice(0, 3).map(({ fields }, index) => (
         <ModerationWorkSamplesItem {...fields} index={index} />
        ))
      }
    </div>

    {
      moderationWorkSamples.length > 3 && (
        <div class="text-end">
          <Button
            hx-get="/partials/moderation-work-samples"
            hx-vals='{"pageSize": "6"}'
            hx-trigger="click"
            hx-target="#moderation-posts-container"
            hx-swap="innerHTML"
          >
            {loadMoreText}
          </Button>
        </div>
      )
    }
  </div>
</div>

<script>
  import "@preline/accordion";
</script>

<script is:inline>
function destroyAccordions() {
  const accordions = document.querySelectorAll(".hs-accordion");

  accordions.forEach((el) => {
    const {element} = HSAccordion.getInstance(el, true);

    if (element) {
        element.destroy();
      }
    });
  }
</script>